.form {
    padding: 20px 10px 10px;
    display: flex;
    justify-content: space-between;
}

.form__button {
    background-color: #017282;
    color: white;
    padding: 10px;
    border: none;
    margin-left: 20px;
}

.form__button:active {
    background-color: #04acc2;
    cursor: pointer;
}

.form__button:hover {
    transition: 0.5s;
    transform: scale(110%);
    background-color: #008da0;
    cursor: pointer;
}

.form__input {
    padding: 8px;
    border: 1px solid #dddddd;
    flex-grow: 1;
}

@media (max-width: 767px) {
    .form {
        flex-wrap: wrap;
        justify-content: center;
    }

    .form__button {
        flex-basis: 100%;
        margin: 10px auto;

    }

    .form__input {
        flex-basis: 100%;
        margin: auto;
    }
}