.buttons {
    display: flex;
    border-bottom: 1px solid #dddddd;
}

@media (max-width: 767px) {
    .buttons {
        flex-direction: column;
    }
    .buttons__button--allDone {
        margin-bottom: 0 !important;
    }
    .buttons__button--hideAndShow {
        margin-bottom: 0 !important;
    }
}

.buttons__button--allDone {
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: teal;
}

.buttons__button--allDone:active {
    color: hsl(180, 100%, 35%);
}

.buttons__button--allDone:hover {
    color: hsl(180, 100%, 30%);
    cursor: pointer;
}

.buttons__button--allDone:disabled {
    cursor: text;
    color: #dddddd;
}

.buttons__button--hideAndShow {
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    color: teal;
}

.buttons__button--hideAndShow:active {
    color: hsl(180, 100%, 35%);
    cursor: pointer;
}

.buttons__button--hideAndShow:hover {
    color: hsl(180, 100%, 30%);
}